/* Sidebar2 Styles (Right) */
.sidebar2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px; /* Sidebar width */
  height: 100vh; /* Full viewport height */
  padding: 16px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('0000.png'); /* Light mode background */
  background-size: cover;
  background-position: center;
}

.dark-mode .sidebar2 {
  background-image: url('0001.png'); /* Dark mode background */
}

/* Sidebar (Left) */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px; /* Sidebar width */
  height: 100vh; /* Full viewport height */
  padding: 16px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('0000.png'); /* Light mode background */
  background-size: cover;
  background-position: center;
}

.dark-mode .sidebar {
  background-image: url('0001.png'); /* Dark mode background */
}

/* Text Styles for Both Sidebars */
.sidebar h1, .sidebar2 h1 {
  writing-mode: vertical-rl; /* Vertical text */
  transform: rotate(180deg); /* Flip the text */
  font-size: 52px;
  color: #1b331b; /* Original text color */
  text-align: center;
  margin: 0;
  line-height: 1.1;
  opacity: 0.8;
}

.sidebar h2, .sidebar2 h2 {
  font-size: 15px;
  color: #1b331b;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0;
}

/* Dark mode text styles */
.dark-mode .sidebar h1, .dark-mode .sidebar2 h1 {
  color: #E4E6EB; /* Adjusted for dark mode */
}

.dark-mode .sidebar h2, .dark-mode .sidebar2 h2 {
  color: #E4E6EB; /* Adjusted for dark mode */
}
